$primary:#002F5F;
$purple:#9A2B91;
$orange:#EEAF30;
$whatsapp:#39DD56;
$grey:#EEF2F5;

.btn-primary{
	background:$primary;
	margin-top: 30px;
	// line-height: 0;
	padding: 10px 10px;
	border-radius: 4px;
	transition: 0.5s;
	color: #fff;
	font-family: "Nunito", sans-serif;
	font-weight: 600;
	font-size: 16px;
	letter-spacing: 1px;
	border-bottom:5px solid $orange;
	border-top: none;
	border-left: none;
	border-right: none;
}

.btn-primary:hover{
	border-bottom:5px solid $primary;
}

.text-orange{
	color: $orange !important;
}

.btn-primary:hover{
	background: $orange;
}

.btn-orange{
	background: orange;
}

.hero .btn-get-started {
	border-bottom:5px solid $orange;
}

.hero .btn-get-started:hover {
	background: $orange;
	border-bottom:5px solid $primary;
}

.border-20px{
	border-radius: 20px;
}

.text-primary{
	color: $primary !important;
}

.border-e-0{
	border-right:none;
}

.border-s-0{
	border-left:none;
}

.bg-primary{
	background:$primary !important;
}

.bg-orange{
	background: $orange !important;
	color: white !important;
	border-color:$orange !important;
}

.border-check{
	width: 22px;
	height: 22px;
	border-radius: 50%;
	background: $orange;
	display: flex;
	align-items: center;
	justify-content: center;
	color: white;
	margin-top: 1px;
}

.ls-4px{
	letter-spacing: 4px !important;
}
.check{
	font-size: 20px;
}

.border-bottom-1px{
	border-bottom: 1px solid #ECECEC;
}

.border-black{
	border-color:#747476 !important; 
}

.table-angsuran{
	border:1px solid black;
	thead{
		border-bottom:2px solid black;
		border-right:2px solid $orange;
		border-left:2px solid $orange;
		border-top:2px solid $orange;
	}
}

.services .service-box.primary {
	border-bottom: 3px solid $primary;
}
.services .service-box.primary .icon {
	color: $primary;
	background: #dbf3fe;
}
.services .service-box.primary .read-more {
	color: #2db6fa;
}
.services .service-box.primary:hover {
	background: $primary;
}

.services{
	.service-box.purple{
		border-bottom: 3px solid $purple;
	}
}

.bg-grey{
	background:$grey;
}

.navbar{
	ul{
		li{
			a{
				font-size: 20px;
				color: $primary;

			}
			a:focus{
				font-size: 20px;
				color:$primary;
			}

			a:hover{
				font-size: 20px;
				color: $primary;
				text-decoration:underline;
				text-decoration-color:$orange;
			}

			a.active{
				font-size: 20px;
				color: $primary;
				text-decoration:underline;
				text-decoration-color:$orange;
			}

			a.active:focus{
				font-size: 20px;
				color: $primary;
				text-decoration:underline;
				text-decoration-color:$orange;
			}
		}
	}

	.navbar-wa{
		background: $whatsapp;
		display: none;
		border-radius:20px;
	}
}

.sub-text-orange {
	font-size: 13px;
	letter-spacing: 1px;
	font-weight: 700;
	margin: 0;
	color: #EEAF30;
	text-transform: uppercase;
}

.hero{
	h1{
		color: $primary;
		font-size: 40px;
	}
	.btn-get-started{
		background: $primary;
		border-radius:20px;
	}
}

.service-box.primary{
	// .icon{
	// 	background: red !important;
	// }
}

.icon{
	width: 35%;
}

@media (max-width: 991px) {
	.navbar{
		.navbar-wa{
			display: block;
		}
	}
}